.model_control {
    height: 24rem !important;
    border-radius: 1rem !important;
}
.loader_parent {
    background: #252525;
    z-index: 99;
    opacity: 0.57;
}
.loader_parent .spinner-border {
    width: 8rem;
    height: 8rem;
    border: 1.25em solid currentColor;
    border-right-color: transparent;
}
